@using Microsoft.AspNetCore.Mvc.Localization
@using Hermes.Client.Web.Constants
@using Hermes.Client.Web.Models.Login
@model LoginViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer[Resources.Login.Title];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form>
                <h1 class="h3 mb-3 fw-normal">@Localizer[Resources.Login.Header]</h1>

                <div class="form-floating mb-1">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@mail.com">
                    <label for="floatingInput">@Localizer[Resources.Login.EmailLabel]</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">@Localizer[Resources.Login.PasswordLabel]</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary"
                    type="submit">@Localizer[Resources.Login.LoginButtonLabel]</button>
            </form>
        </div>
    </div>
</div>