@using Microsoft.AspNetCore.Mvc.Localization
@using Hermes.Client.Web.Constants
@using Hermes.Client.Web.Models.Orders
@model OrdersViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer[Resources.Orders.Title];
}

<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Localizer[Resources.Orders.ProductsColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Orders.PriceColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Orders.DateColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Orders.StatusColumnHeader]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        <ul>
                            @foreach (var product in order.Products)
                            {
                                <li>@product.Name</li>
                            }
                        </ul>
                    </td>
                    <td>@order.Price</td>
                    <td>@order.Date</td>
                    <td>@order.Status</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Orders.Any())
    {
        @await Html.PartialAsync("../Shared/_Pagination.cshtml", Model.Pagination)
    }
</div>