@using Microsoft.AspNetCore.Mvc.Localization
@using Hermes.Client.Web.Constants
@using Hermes.Client.Web.Models.Catalog
@model CatalogViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer[Resources.Catalog.Title];
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
        @foreach (var product in Model.Products)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@product.PictureUri" class="card-img-top" alt="product picture">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@product.Brand</li>
                        <li class="list-group-item">@product.Price</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary"
                            id="addToBasketButton">@Localizer[Resources.Catalog.AddToBasketButtonLabel]</button>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Model.Products.Any())
    {
        @await Html.PartialAsync("../Shared/_Pagination.cshtml", Model.Pagination)
    }
</div>

@section Scripts {
    @await Html.PartialAsync("../Catalog/_CatalogScript.cshtml", Model.CatalogScript)
    @await Html.PartialAsync("_BasketScript.cshtml", Model.CatalogScript)
}