@using Microsoft.AspNetCore.Mvc.Localization
@using Hermes.Client.Web.Constants
@using Hermes.Client.Web.Models.Payments
@model PaymentsViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer[Resources.Payments.Title];
}

<div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Localizer[Resources.Payments.OrderColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Payments.PriceColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Payments.DateColumnHeader]</th>
                <th scope="col">@Localizer[Resources.Payments.StatusColumnHeader]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.Payments)
            {
                <tr>
                    <td>@payment.OrderId</td>
                    <td>@payment.Price</td>
                    <td>@payment.Date</td>
                    <td>@payment.Status</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Payments.Any())
    {
        @await Html.PartialAsync("../Shared/_Pagination.cshtml", Model.Pagination)
    }
</div>